{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Barras de sonido{% endblock %}</title>

        {{ encore_entry_link_tags('app') }} 

    </head>
    <body>
        <div id="content">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="{{ asset('img/logo-ecommerce.png') }}" alt="Barras de sonido" class="img-logo"/>
                    </div>
                </div>
            </div>
            
            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}


    </body>
</html>